{% if git['config'] is defined and 'commit' in git['config'] and 'template' in git['config']['commit']|join(',') %}
<type>(<scope>): <description>

<body>

Contributes to <issue>

Signed-off-by: <name> <email>
{% endif %}
